<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Server Set Up For EJS</title>
    <link href="/styles/base.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Test Headline</h1>
    <p><%= name %></p>

    <ul>
    <% pets.forEach(pet => { %>
      <li><%= pet %></li>
      <% }) %>
    </ul>\
  </body>
</html>